.tags-page {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.tags-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: dotted black 2px;
    background-color: white;
}

.tags-list p {
    font-size: 20px;
    padding: 3rem;
}

.tag {
    border: dotted red 1px;
    height: 40px;
}

